<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="heading">
        <h2>Weather App</h2>
    </div>

    <div class="wrapper">

        <form>
            <div class="form">
                    
                <div class="inputfield">
                    <label for="location">Location:</label>
                    <div class="custom_select">
                        <input type="text" class="input" name="ram">
                    </div>
                </div>

                <div class="inputfield">
                    <input type="submit" class="btn" value="Search">
                </div>
            </div>
        </form>
        <div class="result">
            <p id="loc"></p>
            <p id="we"></p>
        </div>
    </div>
    

    <script src="/js/app.js"></script>
</body>
</html>